<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
<h1>Message board:</h1>
<% for(let i = 0; i < messages.length; i ++) { %>
    <h3><%= messages[i].user  %>: </h6>
    <p><%= messages[i].text  %></p>
    <p style="border-bottom: 2px solid black;">Added: <%= messages[i].added  %> </p>
<% } %> 

<a href="/new">Write a message...</a>

     
</body>
</html>